<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles  -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>

<body>


    <form class="my-3 mx-3" action="/auth/local" method="POST">
        <h3 class="text-center mt-4">Login</h3>
        <% if (messages.error) { %>
            <div class="alert alert-danger" role="alert">
                <%= messages.error %>!
            </div>
            <% } %>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class="text-center my-3">
                    <button class="btn btn-success mx-3"><a href="/auth/register">Register</a></button>
                    <button type="submit" class="btn btn-primary mx-3">Login</button>
                </div>
                <div class="text-center ">
                    <a class="btn btn-light mx-3 my-3" href="/auth/google" role="button" style="text-transform:none">
                        <img width="20px" alt="Google sign-in"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                        Google
                    </a>
                    <a class="btn btn-light mx-3 my-3" href="/auth/facebook" role="button" style="text-transform:none">
                        <img width="20px" alt="Google sign-in"
                            src="https://upload.wikimedia.org/wikipedia/commons/0/07/Facebook_logo.png" />
                        Facebook
                    </a>
                </div>

    </form>


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>